<section class="bg-black">
  <div
    class="mx-auto max-w-7xl px-8 lg:px-24 py-4 border-x bg-white border-black"
  >
    <div class="relative flex justify-start">
      <span
        class="bg-white pl-6 text-4xl font-semibold tracking-tight text-black font-display"
        >Follow the steps below</span
      >
    </div>
  </div>
</section>
