<section class="overflow-hidden bg-black">
  <section
    class="bg-black py-36 lg:py-16 mx-auto max-w-7xl px-8 lg:px-24 items-center border-y-0 border"
  >
    <div class="flex w-full flex-col h-full">
      <div
        tabindex="0"
        role="region"
        aria-labelledby="carousel-label"
        class="flex mx-auto relative items-center"
      >
        <div>
          <ul
            tabindex="0"
            role="listbox"
            aria-labelledby="carousel-content-label"
            class="flex w-full h-full py-6 items-center"
          >
            <li
              class="flex w-full shrink-0 flex-col items-center justify-center h-full lg:w-full"
              role="option"
            >
              <section>
                <div
                  class="flex flex-col lg:flex-row px-8 lg:max-w-6xl"
                >
                  <div class="w-auto lg:w-96 aspect-square">
                    <img
                      src="/logo-bw.svg"
                      alt=""
                    />
                  </div>
                  <div class="max-w-3xl flex-grow text-center lg:text-left">
                    <h2
                      class="font-semibold text-white mt-6 text-3xl font-display lg:text-6xl"
                    >
                      Supabase For AI
                    </h2>
                    <p class="text-zinc-400 mt-5">
                      AI products are transforming the world today with their
                      amazing capabilities and benefits. AI products can help us
                      solve complex problems, automate tedious tasks, enhance
                      our creativity and productivity, and make our lives easier
                      and more enjoyable. Some cool example of it is Supabase
                      Clippy released not so long ago.
                    </p>
                    <p class="text-zinc-400 mt-5">
                      But how can you create your own AI products without spending too much time and money? How can you leverage the power of AI to build innovative solutions for your business or personal needs? That's where Supabase comes in. It offers an easy and efficient way to manage your data for AI. Supabase is an open source platform that provides a variety of tools for data management, including data storage, authentication, and APIs.
                    </p>
                    <p class="text-zinc-400 mt-5">
                      If you want to learn more about how to use Supabase for AI products, you're in luck. We have prepared a comprehensive guide that will teach you everything you need to know. You'll learn how to set up your Supabase project, use OpenAI to do natural language processing, text summarization, and more to make your own product for search and question answering.
                    </p>
                    <p class="text-zinc-400 mt-5">
                      Ready to get started? Then don't miss this guide on how to use Supabase for AI products. It's the ultimate resource for anyone who wants to build awesome web applications with AI. Let's go!
                    </p>
                  </div>
                </div>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
