<section aria-labelledby="footer-heading" id="footer" class="bg-black">
  <footer>
    <div
      class="mx-auto max-w-7xl divide-y divide-white lg:border-x border-white">
      <div
        class="lg:mx-auto lg:text-center flex flex-col md:pt-6 pb-12 pt-8 px-8 lg:px-24">
        <p class="md:mt-0 mt-6 text-sm text-zinc-500">
          © Copyright {new Date().getFullYear()}. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</section>
